services:
  beast:
    environment:
      GRANT_SUDO: 'yes'
      SPARK_MASTER_URL: spark://sr250-wn-b-02.dima.tu-berlin.de:7077
      SPARK_MODE: worker
    image: ghcr.io/polydbms/beast:0.9.5-3.5.0-hist
    ports:
    - 4040:4040
    - 18080:18080
    - 7077:7077
    tty: true
    user: root
    volumes:
    - ../../data:/data
    - ../../config:/config
version: '2.1'
